<section class="slide1">
		<div class="wrap-slick1"><button class="arrow-slick1 prev-slick1 slick-arrow" style=""><i class="fa  fa-angle-left" aria-hidden="true"></i></button>
			<div class="slick1 slick-initialized slick-slider">
				<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4554px;"><div class="item-slick1 item1-slick1 slick-slide" style="background-image: url(&quot;images/master-slide-02.jpg&quot;); width: 1518px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease;" data-slick-index="0" aria-hidden="true" tabindex="-1">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Women Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							New arrivals
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4" tabindex="-1">
								Shop Now
							</a>
						</div>
					</div>
				</div><div class="item-slick1 item2-slick1 slick-slide slick-current slick-active" style="background-image: url(http://allpoints.ph/wp-content/uploads/2013/10/banner.jpg); width: 1518px; position: relative; left: -1518px; top: 0px; z-index: 999; opacity: 1;" data-slick-index="1" aria-hidden="false" tabindex="0">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15 rollIn visible-true" data-appear="rollIn">
							Women Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37 lightSpeedIn visible-true" data-appear="lightSpeedIn">
							New arrivals
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false slideInUp visible-true" data-appear="slideInUp">
							<!-- Button -->
							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4" tabindex="0">
								Shop Now
							</a>
						</div>
					</div>
				</div><div class="item-slick1 item3-slick1 slick-slide" style="background-image: url(&quot;images/master-slide-04.jpg&quot;); width: 1518px; position: relative; left: -3036px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease;" data-slick-index="2" aria-hidden="true" tabindex="-1">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
							Women Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
							New arrivals
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
							<!-- Button -->
							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4" tabindex="-1">
								Shop Now
							</a>
						</div>
					</div>
				</div></div></div>





			</div>
		<button class="arrow-slick1 next-slick1 slick-arrow" style=""><i class="fa  fa-angle-right" aria-hidden="true"></i></button></div>
	</section>