{% extends "shop/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<!--{{cart.cart}}-->
<!--{{cart.cart.1.quantity}}-->
{{cart|length}}
<table class="table ">
    <thead>
        <tr>
        <th class="f">Image</th>
        <th class="f">Product</th>
        <th>Quantity</th>
        <!--<th>update</th>-->
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
        </tr>
    </thead>
    <tbody>

        {% for item in cart.cart.items %}
{{item.1.id}}
        {% with product=item.1.product %}
        <tr>
        <td>
            <a href="{{ product.get_absolute_url }}">
                <img style="width:20px;height:20px" src="{% if product.image %}{{ product.image.url }}
                {% else %}
                {% static "img/no_image.png" %}{% endif %}">
            </a>
        </td>
        <td>{{ product.name }}</td>

        <td>{{ item.1.quantity }}</td>
            <!--<td>-->
                <!--<form action="{% url 'cart_add' product.id %}" method="post">-->
                     <!--{% csrf_token %}-->
                <!--{{ item.1.update_quantity_form.quantity }}-->
                <!--{{ item.1.update_quantity_form.update }}-->
                    <!--&lt;!&ndash;<input type="number" min="1">&ndash;&gt;-->
                <!--<input type="submit" value="Update">-->

                <!--</form>-->
            <!--</td>-->
        <td><a href="{% url 'cart_remove' product.id %}">Remove</a></td>
        <td class="num">${{ item.1.price }}</td>

        <td class="num">${{ item.1.price |mul:item.1.quantity }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
       {% if cart.coupon %}
<tr class="subtotal">
<td>Subtotal</td>
<td colspan="5"></td>
<td class="num">${{ cart.get_total_price }}</td>
</tr>
<tr>
<td>
"{{ cart.coupon.code }}" coupon
({{ cart.coupon.discount }}% off)
</td>
<td colspan="5"></td>
<td class="num neg">
- ${{ cart.get_discount|floatformat:"2" }}
</td>
</tr>
{% endif %}
<tr class="total">
<td>Total</td>
<td colspan="5"></td>
<td class="num">
${{ cart.get_total_price_after_discount|floatformat:"2" }}
</td>
</tr>
    </tbody>
</table>

<p>Apply a coupon:</p>
<form action="{% url "apply" %}" method="post">
{{ coupon_apply_form }}
<input type="submit" value="Apply">
{% csrf_token %}
</form>
<p class="text-right">
   <a href="{% url 'product_list' %}" class="button light">Continue shopping</a>
   <a href="{% url 'order_create' %}" class="button">Checkout</a>
</p>


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="panel-body">

					        {% for item in cart.cart.items %}
                              {{item.1.id}}
                              {% with product=item.1.product %}




					<div class="row">
						<div class="col-xs-2">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="mg" src="{% if product.image %}{{ product.image.url }}
                                {% else %}
                                {% static "img/no_image.png" %}{% endif %}">
                            </a>
						</div>

						<div class="col-xs-2">
							<h4 class="product-name"><strong>{{ product.name }}</strong></h4>
						</div>
                        <div class="col-xs-2">
							<h4 class="product-quantity"><strong>{{ item.1.quantity }}</strong></h4>
						</div>
						<div class="col-xs-6">

							<div class="col-xs-3">
                                <h4 class="basic">${{ item.1.price }} </h4>
							</div>
                            <div class="col-xs-3">
								<input type="button" class="btn btn-success" value="${{ item.1.price |mul:item.1.quantity }}" >
							</div>

                            	<div class="col-xs-4 ">

								<!--<h6 ><strong>-->
                                            <!--<form action="{% url 'cart_add' product.id %}" method="post">-->
                                                <!--{{ item.1.update_quantity_form.quantity }}-->
                                                <!--{{ item.1.update_quantity_form.update }}-->
                                                <!--<p class="glyphicon glyphicon-edit btn btn-primary "></p>-->
                                                <!--{% csrf_token %}-->
                                            <!--</form>-->
                                      <!--</strong>-->
                                <!--</h6>-->
							</div>

                            <div class="col-xs-2">
                                <div class="col-xs-6 text-right">
                                    <div class="col-xs-6">
                                        <a  class="glyphicon glyphicon-trash " href="{% url 'cart_remove' product.id %}"></a>
                                    </div>
                                </div>
                            </div>

						</div>
					</div>
                    <hr>
                      {% endwith %}
                      {% endfor %}





				<div class="panel-footer">
					<div class="row text-center">
                               {% if cart.coupon %}
                            <div class="col-xs-12">
                            <h5 class="col-xs-2">Subtotal</h5>

                            <h5 class="col-xs-10 text-right">${{ cart.get_total_price }}</h5>
                            </div>
                            <div class="col-xs-12">
                            <div class="col-xs-2" >
                            "{{ cart.coupon.code }}" coupon
                            ({{ cart.coupon.discount }}% off)
                            </div>

                            <div class="col-xs-10 text-right ">
                            - ${{ cart.get_discount|floatformat:"2" }}
                            </div>
                            </div>
                            {% endif %}
                        <hr>
						<div class="col-xs-12">

							<h4 class="text-right">Total <strong>:${{ cart.get_total_price_after_discount|floatformat:"2" }}</strong></h4>
						</div>
                        <div class="row ">
                            <div class="col-xs-6">
                                <a href="{% url 'order_create' %}" type="button" class="btn btn-success ">
                                    Checkout
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="{% url 'product_list' %}" type="button" class="btn btn-primary ">
                                    Continue Shopping
                                </a>
                            </div>
                        </div>
					</div>
        </div>

			</div>
		</div>
	</div>
</div>




{% endblock %}