{% extends "shop/base.html" %}
{% load static %}
{% block title %}
WishList
{% endblock %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i> Shopping Cart</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="panel-body">

					        {% for item in products %}





					<div class="row">
						<div class="col-md-4 ">
                            <a href="{{ item.get_absolute_url }}">
                                <img class="mg" src="{% if item.image %}{{ item.image.url }}
                                {% else %}
                                {% static 'img/no_image.png' %}{% endif %}">
                            </a>
						</div>

						<div class="col-md-2">
							<h4 class="product-name"><strong>{{ item.name }}</strong></h4>
						</div>

						<div class="col-md-2">

                                <h4 class="basic">${{ item.price }} </h4>
                        </div>


                        <div class="col-md-2">

                            <a  class="glyphicon glyphicon-trash under " href="{% url 'deleteItem' item.id %}"></a>

                        </div>

                         <div class="col-md-2 glyphicon ">


                             	 <form action="{% url 'cart_one' item.id %}" method="post">
                                     {% csrf_token %}
                                     <input type="text" name="quantity" value="1" hidden><br>
                                    <input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="add to cart" >

                                    </input>
                                 </form>

                        </div>


					</div>
                    <hr>

                      {% endfor %}







			</div>
		</div>
	</div>
</div>
</div>


{% endblock %}
