
{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					<div class="slick3">
						<div class="item-slick3" data-thumb="{% if product.image %}{{ product.image.url }}{% else %}
                                 {% static 'img/no_image.pn' %}{% endif %}" >
							<div class="wrap-pic-w">
								<img src="{% if product.image %}{{ product.image.url }}{% else %}
                                 {% static 'img/no_image.pn' %}{% endif %}" >
							</div>
						</div>

						<div class="item-slick3" data-thumb="{% if product.image2 %}{{ product.image2.url }}{% else %}
                                 {% static 'img/no_image.pn' %}{% endif %}" >
							<div class="wrap-pic-w">
								<img src="{% if product.image2 %}{{ product.image2.url }}{% else %}
                                 {% static 'img/no_image.pn' %}{% endif %}" >
							</div>
						</div>

						<div class="item-slick3" data-thumb="{% if product.image3 %}{{ product.image3.url }}{% else %}
                                 {% static 'img/no_image.pn' %}{% endif %}" >
							<div class="wrap-pic-w">
								<img src="{% if product.image3 %}{{ product.image3.url }}{% else %}
                                 {% static 'img/no_image.pn' %}{% endif %}" >
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="w-size14 p-t-30 respon5">
				<h6 class="product-detail-name m-text16 p-b-13">
					{{ product.name }}
				</h6>

				<span class="m-text20">
					${{ product.price }}
				</span>

                <h3 class="m-text20">
					available_colors:-
				</h3>
                <ul class="flex-w">

                     {% for i in product.color.all %}
                         {% if i.color in 'green' %}
                     <li class="m-r-10">

                            <input class="checkbox-color-filter" id="color-filter1" type="submit" name="color" value="1">
                            <label class="color-filter color-filter1" for="color-filter1"></label>

                     </li>
                    {% elif i.color in 'blue' %}
                    <li class="m-r-10">

                            <input class="checkbox-color-filter" id="color-filter2" type="submit" name="color" value="1">
                            <label class="color-filter color-filter2" for="color-filter2"></label>

                    </li>

                    {% elif i.color in 'yallow' %}
                      <li class="m-r-10">

                            <input class="checkbox-color-filter" id="color-filter3" type="submit" name="color" value="1">
                            <label class="color-filter color-filter3" for="color-filter3"></label>

                     </li>
                    {% elif i.color in 'red' %}
                     <li class="m-r-10">

                            <input class="checkbox-color-filter" id="color-filter4" type="submit" name="color" value="1">
                            <label class="color-filter color-filter4" for="color-filter4"></label>

                     </li>

                         {% endif  %}
                    {% endfor %}
                </ul>

				<!--  -->
				<div class="p-t-33 p-b-60">
					<div class="flex-m flex-w p-b-10">
						<div class="s-text15 w-size15 t-center">
							Size
						</div>

                            <select class="" name="color">
								<option>Choose an option</option>
                                 {% for i in product.size.all %}
                                <option> {{ i.size }}</option>
                                {% endfor%}

							</select>

					</div>

					<div class="flex-m flex-w">
						<div class="s-text15 w-size15 t-center">
							Color
						</div>

							<select class="" name="color">
								<option>Choose an option</option>
                                 {% for i in product.color.all %}
                                <option> {{ i.color }}</option>
                                {% endfor%}

							</select>
					</div>

					<div class="flex-r-m flex-w p-t-10">
						<div class="w-size16 flex-m flex-w">


							<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
								<!-- Button -->

							                 <form action="{% url 'cart_one' product.id %}" method="post">
                                                 {% csrf_token %}
												 <input type="text" name="quantity" value="1" hidden><br>
												<input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="Add to cart">

												</input>
											 </form>
							</div>
						</div>
					</div>
				</div>



				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Description
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
                           {{ product.description|linebreaks }}
						</p>
					</div>
				</div>

				<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Additional information
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
                        product_category :    {{ product.category }}
						</p>
                        <p class="s-text8">
                        product_name :    {{ product.name }}
						</p>
					</div>
				</div>


			</div>
		</div>
	</div>


	<!-- Relate Product -->
	<section class="relateproduct bgwhite p-t-45 p-b-138">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Related Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
                  {% for item in category %}
					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								 <img src="{% if item.image %}{{ item.image.url }}
                                       {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											 <form action="{% url 'cart_one' product.id %}" method="post">
                                                 {% csrf_token %}
												 <input type="text" name="quantity" value="1" hidden><br>
												<input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="Add to cart">

												</input>
											 </form>
										</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{{ item.get_absolute_url }}" class="block2-name dis-block s-text3 p-b-5">
									{{item.name}}
								</a>

								<span class="block2-price m-text6 p-r-5">
									{{item.price}}
								</span>
							</div>
						</div>
					</div>

                    {% endfor %}

				</div>
			</div>

		</div>
	</section>





<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});

		$('.btn-addcart-product-detail').each(function(){
			var nameProduct = $('.product-detail-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

{% endblock %}
