{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<!---->
{% block secction1 %}
{% include 'secction1.html' %}
{% endblock%}


	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-2 col-lg-2 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>

						<ul class="p-b-54">
							<li  {% if not category %} class="p-t-4 selected" {% endif %}>
								<a href="{% url 'product_list' %}" class="s-text13 active1">
									All
								</a>
							</li>
                                   {% for c in categories %}
							<li class="p-t-4">
								<a href="{{ c.get_absolute_url }}" class="s-text13">
									{{ c.name }}
								</a>
							</li>
                                   {% endfor %}

						</ul>

						<!--  -->
						<h4 class="m-text14 p-b-32">
							Filters
						</h4>

						<div class="filter-price p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-17">
								Price
							</div>
                            <form method="get" action="{% url 'filter_product_price'  %}" >
								<input type="text" name="min_price" maxlength="4" size="3" placeholder="from" style="width: 90%;height: 39px;background: #9f56b1;border-radius:9px;text-align: center;margin-bottom: 10px;"><br>
								<input type="text" name="max_price" maxlength="4" size="3" placeholder="to" style="width: 90%;height: 39px;background: #9f56b1;border-radius:9px;text-align: center;margin-bottom: 10px;"><br>
								<input type="submit" value="Filter" class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4  text-center" style="width: 90%;">

							</form>



								<div class="s-text3 p-t-10 p-b-10">
									Range: $<span id="value-lower">10</span> - $<span id="value-upper">100</span>
								</div>

						</div>

						<div class="filter-color p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-12">
								Color
							</div>

							<ul class="flex-w">
								 <li class="m-r-10">
									 <form action="{% url 'filter_product_color'  %}" method="post">
										 {% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter1" type="submit" name="color" value="1">
										 <label class="color-filter color-filter1" for="color-filter1"></label>
									 </form>

								 </li>

								<li class="m-r-10">
									 <form action="{% url 'filter_product_color'  %}" method="post">
										 {% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter2" type="submit" name="color" value="2">
										 <label class="color-filter color-filter2" for="color-filter2"></label>
									 </form>
								</li>

								<li class="m-r-10">
									 <form action="{% url 'filter_product_color'  %}" method="post">
										 {% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter3" type="submit" name="color" value="3">
										 <label class="color-filter color-filter3" for="color-filter3"></label>
									 </form>
								</li>

								<li class="m-r-10">
								     <form action="{% url 'filter_product_color'  %}" method="post">
										 {% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter4" type="submit" name="color" value="4">
										 <label class="color-filter color-filter4" for="color-filter4"></label>
									 </form>
								</li>

								<li class="m-r-10">
									 <form action="{% url 'filter_product_color'  %}" method="post">
										 {% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter5" type="submit" name="color" value="5">
										 <label class="color-filter color-filter5" for="color-filter5"></label>
									 </form>
								</li>

								<li class="m-r-10">
									<form action="{% url 'filter_product_color'  %}" method="post">
										{% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter6" type="submit" name="color" value="6">
										 <label class="color-filter color-filter6" for="color-filter6"></label>
									 </form>
								</li>

								<li class="m-r-10">
									 <form action="{% url 'filter_product_color'  %}" method="post">
										 {% csrf_token %}
										<input class="checkbox-color-filter" id="color-filter7" type="submit" name="color" value="7">
										 <label class="color-filter color-filter7" for="color-filter7"></label>
									 </form>
								</li>
							</ul>
						</div>
                        <hr>
						<h5>search by name:</h5>
						<div class="flex-sb-m flex-w p-b-35">
							<div class="flex-w">
								<div class="search-product pos-relative bo4 of-hidden">
									<form action="{% url 'filter_product_search'  %}" method="get">
										<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search" placeholder="Search Products...">


										<button type="submit" class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
										<i class="fs-12 fa fa-search" aria-hidden="true"></i>
										</button>
									</form>
								</div>
							</div>


					    </div>

					</div>
				</div>

				<div class="col-sm-6 col-md-10 col-lg-10 p-b-50">
					<!--  -->
                    {% if products %}

					<!-- Product -->
					<div class="row">
                         {% for product in products %}

                     <!--<h4>{% for i in product.color.all %}{{ i.color }}{% endfor %}</h4>-->
						<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <a href="{{ product.get_absolute_url }}">
									  <img src="{% if product.image %}{{ product.image.url }}
                                       {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="IMG-PRODUCT">
                                    </a>

									<div class="block2-overlay trans-0-4">
										 <form action="{% url 'addwish' product.id %}" method="post">
                                                 {% csrf_token %}

												 <input type="text" name="quantity" value="1" hidden><br>
											 <button type="submit" value="Add">

												<i class="icon-wishlist icon_heart_alt icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												<i class="" aria-hidden="true"></i>
											 </button>

										 </form>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											 <form action="{% url 'cart_one' product.id %}" method="post">
                                                 {% csrf_token %}
												 <input type="text" name="quantity" value="1" hidden><br>
												<input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="Add to cart">

												</input>
											 </form>
										</div>
									</div>
								</div>


								<div class="block2-txt p-t-20">
									<a href="{{ product.get_absolute_url }}" class="block2-name dis-block s-text3 p-b-5">
										{{ product.name }}
									</a>

									<span class="block2-price m-text6 p-r-5">
										${{ product.price }}
									</span>
								</div>
							</div>
						</div>

                        {% endfor %}
					</div>
					{% elif my_products_search%}
					<div class="row">
                         {% for product in my_products_search %}

						<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <a href="{{ product.get_absolute_url }}">
									  <img src="{% if product.image %}{{ product.image.url }}
                                       {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="IMG-PRODUCT">
                                    </a>

									<div class="block2-overlay trans-0-4">
										 <form action="{% url 'addwish' product.id %}" method="post">
                                                 {% csrf_token %}

												 <input type="text" name="quantity" value="1" hidden><br>
											 <button type="submit" value="Add">

												<i class="icon-wishlist icon_heart_alt icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												<i class="" aria-hidden="true"></i>
											 </button>

										 </form>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											 <form action="{% url 'cart_one' product.id %}" method="post">
                                                 {% csrf_token %}
												 <input type="text" name="quantity" value="1" hidden><br>
												<input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="Add to cart">

												</input>
											 </form>
										</div>
									</div>
								</div>


								<div class="block2-txt p-t-20">
									<a href="{{ product.get_absolute_url }}" class="block2-name dis-block s-text3 p-b-5">
										{{ product.name }}
									</a>

									<span class="block2-price m-text6 p-r-5">
										${{ product.price }}
									</span>
								</div>
							</div>
						</div>

                        {% endfor %}
					</div>

					{% elif my_products_price%}
					<div class="row">
                         {% for product in my_products_price %}

						<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <a href="{{ product.get_absolute_url }}">
									  <img src="{% if product.image %}{{ product.image.url }}
                                       {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="IMG-PRODUCT">
                                    </a>

									<div class="block2-overlay trans-0-4">
									     <form action="{% url 'addwish' product.id %}" method="post">
                                                 {% csrf_token %}

												 <input type="text" name="quantity" value="1" hidden><br>
											 <button type="submit" value="Add">

												<i class="icon-wishlist icon_heart_alt icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												<i class="" aria-hidden="true"></i>
											 </button>

										 </form>


										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											 <form action="{% url 'cart_one' product.id %}" method="post">
                                                 {% csrf_token %}
												 <input type="text" name="quantity" value="1" hidden><br>
												<input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="Add to cart">

												</input>
											 </form>
										</div>
									</div>
								</div>


								<div class="block2-txt p-t-20">
									<a href="{{ product.get_absolute_url }}" class="block2-name dis-block s-text3 p-b-5">
										{{ product.name }}
									</a>

									<span class="block2-price m-text6 p-r-5">
										${{ product.price }}
									</span>
								</div>
							</div>
						</div>

                        {% endfor %}
					</div>
                    {% endif%}
				</div>
			</div>
		</div>
	</section>

<!---->
<!--<div id="sidebar">-->
    <!--<h3>Categories</h3>-->
    <!--<ul>-->
        <!--<li {% if not category %} class="selected"{% endif %}>-->
           <!--<a href="{% url 'product_list' %}">All</a>-->
        <!--</li>-->
      <!--{% for c in categories %}-->
        <!--<li {% if category.slug == c.slug %}class="selected"{% endif %}>-->
            <!--<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>-->
        <!--</li>-->
      <!--{% endfor %}-->
    <!--</ul>-->
<!--</div>-->




<!--<div id="main" class="product-list">-->
     <!--<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>-->
       <!--{% for product in products %}-->
       <!--<div class="item">-->
          <!--<a href="{{ product.get_absolute_url }}">-->
          <!--<img src="{% if product.image %}{{ product.image.url }}-->
          <!--{% else %}{% static 'img/no_image.png' %}{% endif %}"></a>-->
          <!--<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>-->
           <!--<br>${{ product.price }}-->



       <!--</div>-->
       <!--{% endfor %}-->
<!--</div>-->
{% endblock %}