{% extends "shop/base.html" %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 2%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">

<h1 class="text-center text-success"> Checkout</h1>
<br/>

<div class="col-sm-12">

<br/>
  <ul>
        {% for item in cart %}
        <li>

        </li>
        {% endfor %}
        {% if cart.coupon %}
        <li>
        "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
        <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
        </li>
        {% endif %}
    </ul>
     <p>Total: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>
    <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order" class="pull-right btn btn-block btn-success"></p>
    {% csrf_token %}
    </form>

       </div>
      </div>
    </div>
</div>



{% endblock %}