
.mg{
width: 50px;
height: 50px;
}

.under{
margin-top:15px;
width:10%
}

.bg_button{
width: 90%;

height: 39px;

background: #9f56b1;

border-radius:9px;text-align: center;margin-bottom: 10px;
}

.bg_submitt{
width:60%
}
.img_slider{
height: 100%;
}