<!DOCTYPE html>

{% load static %}
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}My shop{% endblock %}</title>
<!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
 <!--<link rel="stylesheet" type="text/css" href="{%  static 'css/font-awesome.min.css' %}" />-->
 <!--<link rel="stylesheet" type="text/css" href="{%  static 'css/select.css' %}" />-->
  <!--<link rel="stylesheet" type="text/css" href="{%  static 'css/show.css' %}" />-->
     <!--<link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}" />-->
 <!--<link rel="stylesheet" type="text/css" href="{%  static 'css/firest.css' %}" />-->
 <!--<link rel="stylesheet"  href="{% static 'css/font-awesome.min.css' %}">-->

	<!--<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/noui/nouislider.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</head>
<body >
{% block header %}
{% include 'header.html' %}
{% endblock%}




{% block content %}

{% endblock%}




{% block footer %}
{% include 'footer.html' %}
{% endblock%}

    <script src="{%  static 'js/jquery-3.2.1.min.js' %}"></script>
     <script src="{%  static 'js/main.js' %}"></script>






	<script type="text/javascript" src="{%  static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/bootstrap/js/bootstrap.min.js ' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
	<script type="text/javascript" src="{%  static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/slick-custom.js' %}"></script>
	<script type="text/javascript" src="{%  static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

	<script type="text/javascript" src="{%  static 'vendor/noui/nouislider.min.js' %}"></script>
	<script type="text/javascript">

	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 50, 200 ],
	        connect: true,
	        range: {
	            'min': 50,
	            'max': 200
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]) ;
	    });
	</script>
	<script src="{%  static 'js/main.js' %}"></script>
	<script src="{%  static 'js/product_slider.js' %}"></script>
</body>
</html>

